######################################################################
# The requirements installed in this block are met by using Anaconda.
# Only people working in their own virtual environments should install
# them via this script.
#
# numpy>=1.15.0
# scipy>=1.1.0
# matplotlib>=3.0.0
# scikit-learn>=0.20.0
# nltk>=3.4.0
# pytest>=4.0.0
# jupyter>=1.0.0
# pandas>=0.25.0

######################################################################
# For NLTK, the data distibution needs to be downloaded separately:
#
# https://www.nltk.org/data.html

######################################################################
# PyTorch is required. For installation instructions, see
#
# If you're using Anaconda, we suggest
#
# conda install pytorch torchvision -c pytorch
