numpy>=1.20.0
scipy>=1.7.0
matplotlib>=3.7.0
scikit-learn>=1.0.2
nltk>=3.7
pytest>=7.1
jupyter>=1.0.0
pandas>=1.5
# uncomment the following lines to install pytorch and torchvision
# for Mac
# torch==2.6.0; sys_platform != "linux" and sys_platform != "win32"
# for windows or linux
# torch==2.6.0+${DEVICE}; sys_platform == "linux" or sys_platform == "win32"
# torchvision
# torchaudio
transformers>=4.37
datasets>=2.14.6
spacy>=3.7.2
colbert-ai>=0.2.20
# pin down dspy-ai during the cohort
dspy-ai==2.4.13
python-dotenv
wget
openai==1.61.1
