######################################################################
# The requirements installed in this block are met by using Anaconda.
# Only people working in their own virtual environments should install
# them via this script.
#
# numpy>=1.15.0
# scipy>=1.1.0
# matplotlib>=3.0.0
# scikit-learn>=0.20.0
# nltk>=3.4.0
# python-dateutil>=2.7.0
# pytest>=4.0.0
# jupyter>=1.0.0
#
######################################################################

mittens>=0.2

######################################################################
# For NLTK, the data distibution needs to be downloaded separately:
#
# https://www.nltk.org/data.html

######################################################################
# PyTorch is required. For installation instructions, see
#
# If you're using Anaconda, we suggest
#
# conda install pytorch torchvision -c pytorch

######################################################################
# Tensorflow is very helpful for using `mittens`. If TensorFlow is not
# available, then `mittens` will resort to pure NumPy, which is much
# slower. Tensorflow should be installed via the instructions
# provided by the TensorFlow team, which depend on your computing
# environment:
#
# https://www.tensorflow.org/install/
